body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#4ff744 0.5px, #f7e5f400 0.5px);
    background-size: 10px 10px;
    min-height:100vh;
    position: relative;
}

body::after {
  content: '';
  display: block;
  height: 80px;
}

.my-table {
    margin: 0 auto;
    width: 85%;
}

.btn-filter {
    margin-top: 10px;
}

.custom-title {
    margin: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.flight-info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}