<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airport Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Airport-Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuPassenger" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pasażer
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/arrivals">Przyloty</a></li>
                        <li><a class="dropdown-item" href="/departures">Odloty</a></li>
                        <li><a class="dropdown-item" href="/flight-info">Informacje o lotach</a></li>
                        <li><a class="dropdown-item" href="/before-flight">Przed podróżą</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuAirport" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lotnisko
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/commuting">Dojazd</a></li>
                        <li><a class="dropdown-item" href="/car-park">Parking</a></li>
                        <li><a class="dropdown-item" href="/terminal">Terminal</a></li>
                        <li><a class="dropdown-item" href="/services">Usługi</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">O Aplikacji</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2 class="custom-title" th:text="${title}"/>
<div class="d-flex flex-column justify-content-center align-items-center ms-4">
    <p><b>Ze względu na przepisy dotyczące przeciwdziałania rozprzestrzeniania się wirusa Covid-19 zasadne jest
        uwzględnienie w planie podróży i dojazdu na lotnisko zwiększonych środków kontroli bezpieczeństwa zdrowotnego,
        co może wpływać na przepustowość punktów kontroli bezpieczeństwa.</b></p>
    <p><b>Przygotuj się do podróży.</b> Punkty odpraw Check-in są otwierane na 3 godziny przed planowaną godziną odlotu samolotu,
        dlatego zalecamy przybycie na Lotnisku Warszawa/Modlin, z co najmniej takim wyprzedzeniem.
        Punkty odpraw Check-in są zamykane na 40 minut przed planowanym odlotem,
        natomiast zamknięcie wyjść Gate następuje na 30 minut przed planowanym odlotem.
        Przybycie na lotnisko z opóźnieniem może skutkować niewpuszczeniem pasażera na pokład samolotu.</p>
    <img th:src="@{/images/zegary.png}"/>
    <p><b>Sprawdź dokumenty.</b> Na początku spakuj do torebki, plecaka  czy marynarki wszystkie niezbędne dokumenty.
        Sprawdź odpowiednio wcześniej, jakie dokumenty są wymagane w danym kraju - paszport, dowód osobisty, wiza.</p>
    <img th:src="@{/images/dokumenty.png}"/>
    <p class="mt-5"><b>Wydrukuj kartę pokładową.</b> Karta pokładowa zawiera wszystkie niezbędne dane dotyczące pasażera i jego podróży.
        Pamiętaj, aby wydrukować kartę pokładową w domu, unikniesz dodatkowych kosztów i zaoszczędzisz czas.</p>
    <img th:src="@{/images/karta.png}"/>
    <p class="mt-5"><b>Spakuj się rozsądnie.</b> Uwzględnij porę roku, pogodę, wagę i rozmiar bagażu podręcznego oraz bagażu rejestrowanego.
        Regulamin przewozu bagażu realizowany jest w oparciu o przepisy i procedury określonego przewoźnika.
        Przygotuj się odpowiednio do kontroli bezpieczeństwa. Spakuj do pojedynczej przeźroczystej, zamykanej,
        plastikowej torebki wszystkie płyny, aerozole i żele* przy uwzględnieniu, że każdy pojemnik nie może przekraczać
        pojemności 100 ml. Pamiętaj, że spakowane płyny, aerozole i żele* powinny swobodnie mieścić się w torebce o pojemności
        nieprzekraczającej 1 litra. Przed kontrolą bezpieczeństwa na terenie lotniska w dedykowanych automatach można nabyć
        torebki. <b>Każdy pasażer może wnieść tylko jedną taką torebkę.</b></p>
    <img th:src="@{/images/pakowanie.png}"/>
    <p class="mt-5"><b>Sprawdź status lotów.</b> Śledź zmiany w rozkładach na stronie internetowej lotniska www.airport-service.pl
        lub u przewoźnika. Informacje o statusie lotów podawane są zwykle z odpowiednim wyprzedzeniem.
        Przewoźnik może również wysłać w tej sprawie e-mail lub SMS, pamiętaj o tym!</p>
    <img th:src="@{/images/odloty.png}"/>
    <p><b>Zaparkuj.</b> Oferta parkingowa lotniska umożliwia pozostawienie samochodu na jednym z dwóch parkingów.
        Parking krótkoterminowy PA1 usytuowany jest w odległości ok. 50 m od terminala, zaś Parking długoterminowy PA7
        zlokalizowany jest w odległości ok. 3 km od terminala pasażerskiego. PA7 to jedyny parking,
        w ramach usług którego otrzymujesz szybki transfer do samych drzwi terminalu pasażerskiego.</p>
    <img class="mb-5" th:src="@{/images/parkuj.png}"/>
</div>
<div class="text-center p-4 footer" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright: Mateusz Samulnik, Damian Skowron
    <!--    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
</body>
</html>